nav{
    display: flex;
    
    justify-content: space-between;
    border: 1px solid black;
    padding: 1rem;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Ejemplo{
    gap: 2rem;
    background-color: aqua;
    width: 100%;
} 
li::marker{
    content: "";
}
.active{
    background-color: red;
}